.Input-header {

	height: 80%;
	width: 90%;
	background: #FFFFFF;
	border: 2px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 8px;
	left: 16px;
	top: 65px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #E0E0E0;
	padding-left: 3%;

}