.Button-header {

  background: #27AE60;
  border: 2px solid #27AE60;
  box-sizing: border-box;
  border-radius: 8px;
  width: 106px;
  height: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

}

.Snack-button {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #27AE60;
  border: 2px solid #27AE60;
  box-sizing: border-box;
  border-radius: 8px;
  width: 106px;
  height: 40px;

}